# dependencies
node_modules/
.pnp
.pnp.*

# builds
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# testing
coverage/

# env files (commit .env.example only)
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
npm-debug.log*
.pnpm-debug.log*
.vercel
